




<div class="container3">
 <center><l><h2>Edytuj dane </h2></l> </center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <center><div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div></center>
   <center><div class="field">
    <%= f.label :Imie %><br />
    <%= f.text_field :username %>
  </div> </center>
    <center><div class="field">
    <%= f.label :Nazwisko %><br />
    <%= f.text_field :surname %>
  </div> </center>
   <center> <div class="field">
    <%= f.label :Telefon %><br />
    <%= f.text_field :phone %>
  </div> </center>

   <center><div class="field">
   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Nowe_Hasło %> <i>(Opuść jesli nie chcesz zmieniac )</i><br />
    <%= f.password_field :password, autocomplete: "off", id: "password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> znaków minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Potwierdzenie_hasła %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", id: "password" %>
  </div>

  <div class="field">
    <%= f.label :Aktualne_hasło %> <i>(Potrzebujemy Twojego obecenego hasła żeby zapisać zmiany )</i><br />
    <%= f.password_field :current_password, autocomplete: "off", id: "password" %>
  </div>

   <center><div class="actions">
    <%= f.submit "Zmien dane" %>
  </div> </center>
<% end %>
<h3>Usuń moje konto</h3>

<p>Niezadowolony? <%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewien?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<script src="jquery.js" type="text/javascript"></script>
<script src="jquery.maskedinput.js" type="text/javascript"></script>
<script>
jQuery(function($){
   $("#user_phone").mask("999-999-999",{placeholder:"ddd-ddd-ddd"});
   });
</script>
 <center><%= render "devise/shared/links" %> </center>
 </div>


